@charset "utf-8";
/* BEGIN PARADOX GRID SETUP */

@import 'includes/paradox-typography.css';
@import 'includes/paradox-utilities.css';
@import 'includes/paradox-xs-flex.css';
@import 'includes/paradox-sm-flex.css';
@import 'includes/paradox-md-flex.css';
@import 'includes/paradox-lg-flex.css';
@import 'includes/paradox-xl-flex.css';
@import 'includes/paradox-xxl-flex.css';

:root {
  --col-0: 0%;
  --col-1: 4.1666666667%;
  --col-2: 8.3333333333%;
  --col-3: 12.5%;
  --col-4: 16.6666666667%;
  --col-5: 20.8333333333%;
  --col-6: 25%;
  --col-7: 29.1666666667%;
  --col-8: 33.3333333333%;
  --col-9: 37.5%;
  --col-10: 41.6666666667%;
  --col-11: 45.8333333333%;
  --col-12: 50%;
  --col-13: 54.1666666667%;
  --col-14: 58.3333333333%;
  --col-15: 62.5%;
  --col-16: 66.6666666667%;
  --col-17: 70.8333333333%;
  --col-18: 75%;
  --col-19: 79.1666666667%;
  --col-20: 83.3333333333%;
  --col-21: 87.5%;
  --col-22: 91.6666666667%;
  --col-23: 95.8333333333%;
  --col-24: 100%;
}

html {
}
*, *:before, *:after {
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* BASE GRID ROW/COLUMN STRUCTURE */

.main-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}

.rw {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
}

.rw.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.cl.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

/* @media only screen and (min-device-width : 200px) and (max-device-width : 575px){

}

@media only screen and (min-device-width : 576px) and (max-device-width : 767px) {

}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px) {

}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px) {

}

@media only screen and (min-device-width : 1200px) and (max-device-width : 1399px) {

}

@media only screen and (min-device-width : 1400px) {

} */
