/* UTILITY ITEMS */
.hide {
  display: none !important;
}
.text-left {
  text-align: left;
}
.text-left-first {
    text-align: left;
    padding-left: 10px !important;
}
.text-right {
  text-align: right;
}
.text-right-last {
    text-align: right;
    padding-right: 10px !important;
}
.center, .text-center {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.circle {
  border-radius: 50%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-pad {
  padding: 0 !important;
}
.no-overflow {
	overflow: hidden;
	white-space: nowrap;
}
.full-height {
	float: left;
	position: absolute;
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
}
/* MARGIN UTILITIES */
.mg5 {
	margin: 5px;
}
.mgt5 {
	margin-top: 5px;
}
.mgr5 {
	margin-right: 5px;
}
.mgb5 {
	margin-bottom: 5px;
}
.mgl5 {
	margin-left: 5px;
}
.mg10 {
	margin: 10px;
}
.mgt10 {
	margin-top: 10px;
}
.mgr10 {
	margin-right: 10px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mgl10 {
	margin-left: 10px;
}
.mg15 {
	margin: 15px;
}
.mgt15 {
	margin-top: 15px;
}
.mgr15 {
	margin-right: 15px;
}
.mgb15 {
	margin-bottom: 15px;
}
.mgl15 {
	margin-left: 15px;
}
.mg20 {
	margin: 20px;
}
.mgt20 {
	margin-top: 20px;
}
.mgr20 {
	margin-right: 20px;
}
.mgb20 {
	margin-bottom: 20px;
}
.mgl20 {
	margin-left: 20px;
}

/* PADDING UTILITIES */

.p5 {
	padding: 5px;
}
.pt5 {
	padding-top: 5px;
}
.pr5 {
	padding-right: 5px;
}
.pb5 {
	padding-bottom: 5px;
}
.pl5 {
	padding-left: 5px;
}
.p10 {
	padding: 10px;
}
.pt10 {
	padding-top: 10px;
}
.pr10 {
	padding-right: 10px;
}
.pb10 {
	padding-bottom: 10px;
}
.pl10 {
	padding-left: 10px;
}
.p15 {
	padding: 15px;
}
.pt15 {
	padding-top: 15px;
}
.pr15 {
	padding-right: 15px;
}
.pb15 {
	padding-bottom: 15px;
}
.pl15 {
	padding-left: 15px;
}
.p20 {
	padding: 20px;
}
.pt20 {
	padding-top: 20px;
}
.pr20 {
	padding-right: 20px;
}
.pb20 {
	padding-bottom: 20px;
}
.pl20 {
	padding-left: 20px;
}