/* UTILITY ITEMS */
.hide {
  display: none !important;
}
.text-left {
  text-align: left;
}
.text-left-first {
    text-align: left;
    padding-left: 10px !important;
}
.text-right {
  text-align: right;
}
.text-right-last {
    text-align: right;
    padding-right: 10px !important;
}
.center, .text-center {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.circle {
  border-radius: 50%;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.no-pad {
  padding: 0 !important;
}
.no-overflow {
	overflow: hidden;
	white-space: nowrap;
}
.full-height {
	float: left;
	position: absolute;
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%);
	padding-bottom: 60px;
}